<mat-card class="cardWithShadow">
    <mat-card-content class="p-24">
        <mat-card-title>Categories</mat-card-title>
        <div class="row search">
            <div class="col-lg-10">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Search</mat-label>
                    <input matInput [(ngModel)]="searchValue" (keyup)="onKeyUp($event)" />
                </mat-form-field>
            </div>
            <div class="col-lg-2">
                <button mat-flat-button class="add-btn" color="primary" matTooltip="Register a new category"
                    [routerLink]="['/categories/new']">New</button>
            </div>
        </div>

        <div class="d-flex justify-content-center align-items-center min-vh-100">
            <div class="row w-100">
                <div class="col-12" *ngIf="showSpinner">
                    <mat-spinner></mat-spinner>
                </div>
                <div class="col-12 text-center" *ngIf="!hasDataSource()">
                    <p>No items found</p>
                </div>
            </div>
        </div>

        <div *ngIf="!showSpinner && hasDataSource()" class="table-responsive m-t-16">
            <table mat-table [dataSource]="dataSource" class="w-100">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">Name</th>
                    <td mat-cell *matCellDef="let element" class="mat-body-1"> {{ element.name }}</td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14"></th>
                    <td mat-cell *matCellDef="let element" class="btn-actions">
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>
                                <i-tabler name="dots" class="icon-20"></i-tabler>
                            </mat-icon>
                        </button>
                        <mat-menu #menu="matMenu" class="cardWithShadow">
                            <button mat-menu-item [routerLink]="['/categories/edit', element.id]">
                                <span>Edit</span>
                            </button>
                            <button mat-menu-item (click)="openDeleteDialog(element.id)">
                                <span>Remove</span>
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
        </div>

    </mat-card-content>
</mat-card>