<mat-toolbar>
    <mat-toolbar-row class="centered-toolbar">
        <span class="centered-items">
            <a mat-button routerLink="/home">
                <mat-icon>home</mat-icon>
                Home
            </a>
            <a mat-button routerLink="/reservations">
                <mat-icon>event</mat-icon>
                Reservations
            </a>
            <a mat-button routerLink="/rooms">
                <mat-icon>hotel</mat-icon>
                Rooms
            </a>
            <a mat-button routerLink="/categories">
                <mat-icon>category</mat-icon>
                Categories
            </a>
        </span>
    </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>