<mat-card class="cardWithShadow">
    <mat-card-content>
        <mat-card-title>{{ title }}</mat-card-title>
        <form class="form" [formGroup]="form" (ngSubmit)="save()">
            <div class="row">

                <div class="col-lg-8">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="guestName" />
                    </mat-form-field>
                </div>

                <div class="col-lg-2">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Adults</mat-label>
                        <input matInput type="number" min="0" max="99" step="1" formControlName="adults" />
                    </mat-form-field>
                </div>

                <div class="col-lg-2">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Children</mat-label>
                        <input matInput type="number" min="0" max="99" step="1" formControlName="children" />
                    </mat-form-field>
                </div>

                <div class="col-lg-8">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="guestEmail" />
                    </mat-form-field>
                </div>

                <div class="col-lg-4">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Value</mat-label>
                        <input matInput formControlName="value" />
                    </mat-form-field>
                </div>

                <div class="col-lg-3">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Check-In Date</mat-label>
                        <input matInput [matDatepicker]="checkInPicker" formControlName="checkIn" />
                        <mat-datepicker-toggle matSuffix [for]="checkInPicker"></mat-datepicker-toggle>
                        <mat-datepicker #checkInPicker></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="col-lg-3">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Check-Out Date</mat-label>
                        <input matInput [matDatepicker]="checkOutPicker" formControlName="checkOut" />
                        <mat-datepicker-toggle matSuffix [for]="checkOutPicker"></mat-datepicker-toggle>
                        <mat-datepicker #checkOutPicker></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="col-lg-6">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Rooms</mat-label>
                        <mat-select formControlName="room">
                            <mat-option *ngFor="let room of rooms" [value]="room.id">
                                {{ room.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                
                <div class="col-lg-12 button-container">
                    <button mat-flat-button color="primary" matTooltip="Save operation"
                        [disabled]="!form.valid || !loadingRooms">Save</button>

                    <button mat-flat-button color="warn" matTooltip="Cancel operation"
                        (click)="goToReservations()">Cancel</button>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>