<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Create
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form #form="ngForm">
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput name="name" ngModel required>
                </mat-form-field>

                <div class="button-container">
                    <button mat-flat-button type="submit" matTooltip="Info about the action"
                        aria-label="Button that displays a tooltip when focused or hovered over">Save</button>
                    <button mat-stroked-button type="button" matTooltip="Info about the action"
                        aria-label="Button that displays a tooltip when focused or hovered over">Cancel</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>