<div class="row">
  <div class="col-lg-3">
    <mat-card class="cardWithShadow">
      <mat-card-header class="d-flex align-items-center p-x-24">
        <mat-card-title>Monthly Earnings</mat-card-title>
        <div class="m-l-auto">
          <button mat-fab color="accent" class="shadow-none icon-48">
            <i-tabler name="currency-dollar" class="text-white d-flex"></i-tabler>
          </button>
        </div>
      </mat-card-header>
      <mat-card-content class="m-b-32 p-x-24">
        <h4 class="mat-headline-5">$6,820</h4>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-lg-3">
    <mat-card class="cardWithShadow">
      <mat-card-header class="d-flex align-items-center p-x-24">
        <mat-card-title>Monthly Earnings</mat-card-title>
        <div class="m-l-auto">
          <button mat-fab color="accent" class="shadow-none icon-48">
            <i-tabler name="currency-dollar" class="text-white d-flex"></i-tabler>
          </button>
        </div>
      </mat-card-header>
      <mat-card-content class="m-b-32 p-x-24">
        <h4 class="mat-headline-5">$6,820</h4>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-lg-3">
    <mat-card class="cardWithShadow">
      <mat-card-header class="d-flex align-items-center p-x-24">
        <mat-card-title>Monthly Earnings</mat-card-title>
        <div class="m-l-auto">
          <button mat-fab color="accent" class="shadow-none icon-48">
            <i-tabler name="currency-dollar" class="text-white d-flex"></i-tabler>
          </button>
        </div>
      </mat-card-header>
      <mat-card-content class="m-b-32 p-x-24">
        <h4 class="mat-headline-5">$6,820</h4>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-lg-3">
    <mat-card class="cardWithShadow">
      <mat-card-header class="d-flex align-items-center p-x-24">
        <mat-card-title>Monthly Earnings</mat-card-title>
        <div class="m-l-auto">
          <button mat-fab color="accent" class="shadow-none icon-48">
            <i-tabler name="currency-dollar" class="text-white d-flex"></i-tabler>
          </button>
        </div>
      </mat-card-header>
      <mat-card-content class="m-b-32 p-x-24">
        <h4 class="mat-headline-5">$6,820</h4>
      </mat-card-content>
    </mat-card>
  </div>
</div>